.bingoBoard td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}
.mission {
    width: 125px;
    height: 125px;
}

.missionDescription {
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    padding: 5px;
    width: 150px;
    background-color: #282c34;
    z-index: 999;
}
